src/main/mule/sonarqube.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a077b709-30b8-4508-8f7a-f92ea343b114" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sonarqubeFlow" doc:id="e8dee8e7-17d2-4688-bd65-bc23413dece1" >
		<http:listener doc:name="Listener" doc:id="e74cf45d-74e4-499e-be18-1ff6d66b847f" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Hello"]' doc:name="Set Payload" doc:id="8d0f8a17-106d-46f3-8445-ff62f9c68452" />
	</flow>
</mule>
